.header{
    background: $color-primary;
    padding: $large-padding;
    color: $color-white;
    height: $header-height;

    &__content{
        align-content: center;
        max-width: $site-max-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        & *{
            margin-bottom: 0;
        }
    }

    &__nav{
        width: 3rem;
        height: 3rem;
        display: none;
        cursor: pointer;

        @include respond(phone){
            display: block;
        }
    }
}