.item-list{
    background-color: $color-white;
    border: 1px solid $color-grey-dark;
    width: 100%;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;

    &__header{
       display: flex;
       padding: $default-padding;
       flex-direction: column;
    }
}

.item {
    border-left: 3px solid transparent;
    cursor: pointer;
    padding: $default-padding;
    transition: all .3s ease;

    &:hover{
        background-color: $color-grey-light;
        border-left: 3px solid $color-grey-dark;
    }

    &--selected{
        border-color: $color-primary;
        background-color: $color-grey-light;

        .item__title{
            color: $color-primary;
        }
    }

    &__title{
        font-size: $default-font-size;
        margin-bottom: .4rem;
    }

    &__subtitle{
        color: $color-grey-dark;
        margin: 0;
    }
}

// Empty Item
.empty-item{
    padding: $default-padding;
    text-align: center;
    font-weight: 600;
}